*{
    font-family: 'Volkhov', serif;
}
.root{
    --theme-color: #e40000;
    --primary-color: #fb811e;
    --primary-light: #fcf1e7;
    --primary-dark: #ffc945;
    --secondary-color: #009f4d;
    --font-color: #707070;
    --bg-color: #fff;
    --heading-color: #060606;
    --footer-color: #060e1f;
    --footer-cpy-color: #040a17;
    --border-radius: 30px;
    --border-radius-full: 15px;
    --border-color: transparent;
    --border-color-light: #eee;
    --iframe-filter: grayscale(0%);
    --bg-grey: #f4f4f4;
    --bg-light: #fafafa;
    --bg-dark-color: #fff;
    --quote-text-color: #1d2c4c;
    --icon-gra-color: linear-gradient(75deg, #1c2e7b 10%, #e60264);
    --shadow-color: rgb(0 0 0 / 3%);
    --box-shadow: rgb(0 0 0 / 41%);
}
a {
    text-decoration: none !important;
}
.service {
    background-color: #009f4d;
}
.container{
    padding-right: 15px;
    padding-left: 15px;
    width: 100%;
}
.title{
    position: relative;
}
.title-bg-content{
    position: absolute;
    color: #fff;
    font-weight: bold;
    font-size: 170px;
    opacity: .2;
    right: 50%;
    bottom: 50%;
    transform: translate(50%,50%);
}
.title-h5{
    font-size: 22px;
}
.title-h3{
    font-size: 40px;
    font-weight: 600;
    line-height: 50px;
}
.title-text p{
    font-size: 20px;
    color: white;
}
.row{
    display: flex;
    flex-wrap: wrap;
}
.card{
    border: none !important;
    border-radius: 18px;
}
.card-header{
    /* position: relative; */
    padding: 0 !important;
}
.card-header img{
    width: 100%;
    border-radius: 18px 18px 0 0;
    /* position: absolute;
    top:0;
    left: 0;
    transform: translate(-50%,-50%); */
}
.card-body span{
    display: inline-block;
    padding: 5px 20px;
    border-radius: 15px;
    background-color: rgb(0 159 77 / 16%);
    color: #009f4d;
}
.card-body a{
    display: block;
    color: black;
    font-size: 20px;
    padding: 10px 0;
    cursor: pointer;
    text-decoration: none;
    transition: all .5s;
}
.card-body p{
    color: #707070;
}
.card-body:hover a{
    color: #009f4d;
}
.h5_color{
    color: #fb811e;
}
.service__item{
    display: flex;
}
.service__item i{
    color: #fb811e;
    font-size: 28px;
}
.service__item h4{
    font-size: 22px;
    margin-top: 5px;
}
.service__item p{
    color: #707070;
    font-size: 15px;
    padding: 5px 0;
    line-height: 1.7;
}
/* Food  */
.service__food{
    padding: 100px 0;
}
.food__left{
    margin-top: 80px;
}
.food__left p{
    font-size: 17px;
    line-height: 27px;
    color: grey;
}
.food__text{
    padding-left: 10px;
}
.food__image{
    width: 80%;
    border-radius: 25px;
    position: relative;
    top: 0;
    left: 120px;
    height: auto;
    vertical-align: middle;
    border-style: none;
}
.imginfo__box{
    border-radius: 0 0 90px 0;
    bottom: 38px;
    left: 25px;
    /* width: 330px;
    height: 210px; */
    min-width: 300px;
    background-color: #fb811e;
    color: #fff;
    text-align: center;
    position: absolute;
    padding: 40px;
    /* transform: translateY(200%); */
}
.imginfo__title{
    font-size: 65px;
    /* padding-left: 40px;
    margin-top: 10px; */
}
.imginfo__box p{
    font-size: 15px;
    font-weight: 500;
    /* padding-left: 40px; */
}
/* Option  */
.option{
    padding: 70px 0 40px 40px;
}
.option a{
    margin-bottom: 60px;

}
.option__image img{
    width: 90%;
}
.option h4{
    font-size: 22px;
    line-height: 25px;
    font-weight: 600;
    color: #040a17;
    transition: all .5s;

}
.option p{
    color: #707070;

}
.option a:hover h4{
    color: #009f4d;
}
.option__content p{
    margin-top: 10px;
    font-size: 15px;
    line-height: 27px;
}

.gallery__item{
    position: relative;
    overflow: hidden;
}

.gallery__item::before {
    content: "";
    width: 50%;
    height: 100%;
    position: absolute;
    top: 0;
    left: -75%;
    display: block;
    background: linear-gradient(to right,rgba(255,255,255,0) 0,rgba(255,255,255,.3) 100%);
    transform: skewX(-25deg);
    transition: all .75s;

}
.gallery__item:hover::before {
    left: 125%;
}

.gallery__item img {
    width: 100%;
}
.gallery__item h5 {
    position: absolute;
    bottom: 25px;
    left: 0px;
    right: 0;
    color: #fff;
    font-size: 22px;
    font-weight: 400;
    text-align: center;
    background:  rgb(255 255 255 / 27%);
    padding: 5px;
    margin: 0 40px;
}
figure {
    margin: 0;
}

.carousel_inner{
    position: relative;
    height: 428px;
    margin: 100px 0;
    overflow: hidden;
    width: 100%;

}
.carousel_banner img {
    width: 120%;
}
.carousel_banner {
    position: relative;
}
.carousel_left img{
    border-radius: 50%;
    width: 90px !important;
    height: 90px !important;
    margin: 0 29%;
}
.carousel_left a {
    display: block;
    text-align: center;
}

.carousel_content {
    position: absolute;
    width: 60%;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 99999;
}

.carousel_item {
    display: flex;
    margin-top: 20px;
    /* height: 60vh; */
    justify-content: ;
}

.carousel_left {
    width: 30%;
    text-align: center;
}

.carousel_left h4 {
    font-size: 22px;
}

.carousel_left p {
    font-size: 18px;
}

.carousel_right {
    width: 70%;
}

.carousel_right i{
    color: #fb811e;
    font-size: x-large;
    transform: rotate(180deg);
}
.carousel_right p {
    font-size: 22px;
}
blockquote {
    text-align: center;
    font-size: large;
}
.carousel_overlay {
    background: rgba(39,43,54,.5);
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 999;
    overflow: hidden;
}
