:root {
  --color-1: #060606;
  --color-2: #fff;
  --color-3: #707070;
  --color-4: #f4f4f4;
  --orange: #fb811e;
  --green: #009f4d;
  --shadow: rgb(0 0 0 / 3%);
  --bg: #fff;
  --height-nav: "70px";
}
/* Reset CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  font-family: "Source Sans Pro", sans-serif;
  font-family: "Volkhov", serif;
  font-size: 10px;
}
